@{
    ViewBag.Title = "About";

    int count = 25;
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome Victor and Buchi This is @count years of design </p>

    <input type="text" placeholder="FirstName"/>
    <input type="button" value="Send"/>


</main>