
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form>
	<p><label>Username:</label><input type="text" /></p>
	<p><label>Password:</label><input type="password" /></p>
	<p><input type="submit" value="Submit"/></p>
</form>

